.mat-toolbar {
    background: #000000;
    color: var(--mat-toolbar-container-text-color);
}
.header{
    display: flex;
    align-items: center;
    top: 0;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.header .logo{
    max-height: 50px;
}
.header .title-group{
    padding-left: 25px;
}
.header .title-group i{
    padding-right: 5px;
}